In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = "https://books.toscrape.com/"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

In [3]:
titles = []
prices = []
ratings = []

In [4]:
books = soup.find_all("article", class_="product_pod")

In [5]:
for book in books:
    # Title
    title = book.h3.a["title"]
    titles.append(title)

    # Price
    price = book.find("p", class_="price_color").text
    prices.append(price)

    # Rating (stored as a class)
    rating_class = book.find("p")["class"][1]
    ratings.append(rating_class)

In [6]:
df = pd.DataFrame({
    "Title": titles,
    "Price": prices,
    "Rating": ratings
})

In [7]:
print("Dataset Preview:")

Dataset Preview:

In [8]:
print(df.head())

                                   Title    Price Rating
0                   A Light in the Attic  Â£51.77  Three
1                     Tipping the Velvet  Â£53.74    One
2                             Soumission  Â£50.10    One
3                          Sharp Objects  Â£47.82   Four
4  Sapiens: A Brief History of Humankind  Â£54.23   Five

In [9]:
df.to_csv("scraped_books.csv", index=False)

In [10]:
print("\n✅ TASK 1 Completed Successfully!")

✅ TASK 1 Completed Successfully!

In [11]:
print("➡️ Data saved as scraped_books.csv")

➡️ Data saved as scraped_books.csv